---
# MegaLinter GitHub Action configuration file
# More info at https://megalinter.io
# https://github.com/oxsecurity/megalinter
# https://github.com/oxsecurity/megalinter/blob/main/TEMPLATES/mega-linter.yml
name: MegaLinter

# Trigger mega-linter at every push. Action will also be visible from Pull Requests to main
# Comment this line to trigger action only on pull-requests (not recommended if you don't pay for GH Actions)
on:
  workflow_call:
    inputs:
      APPLY_FIXES_EVENT:
        description: |
          Apply MegaLinter fixes during given event: all, push, pull_request, none.
        type: string
        default: pull_request
      APPLY_FIXES_MODE:
        description: |
          `commit` to create a new commit and push it on the same branch, or
          `pull_request` to create a new PR targeting the branch.
        type: string
        default: pull_request
      VALIDATE_ALL_CODEBASE:
        description: |
          Validates all source when push on main, else just the git diff with main.
          Override with true if you always want to lint all sources.
        type: boolean
        default: false
    secrets:
      GH_TOKEN:
        required: true

env:
  APPLY_FIXES_EVENT: ${{ inputs.APPLY_FIXES_EVENT }}
  APPLY_FIXES_MODE: ${{ inputs.APPLY_FIXES_MODE }}
  VALIDATE_ALL_CODEBASE: ${{ inputs.VALIDATE_ALL_CODEBASE }}

jobs:
  lint:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: MegaLinter
        id: ml
        uses: oxsecurity/megalinter@v7
        env:
          VALIDATE_ALL_CODEBASE: ${{ inputs.VALIDATE_ALL_CODEBASE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Upload MegaLinter artifacts
      - name: Archive production artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log

      # Create pull request if applicable (for now works only on PR from same repository, not from forks)
      - name: Create Pull Request with applied fixes
        id: cpr
        if: steps.ml.outputs.has_updated_sources == 1 && (env.APPLY_FIXES_EVENT == 'all' || env.APPLY_FIXES_EVENT == github.event_name) && env.APPLY_FIXES_MODE == 'pull_request' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          commit-message: "style(MegaLinter): apply linter fixes"
          title: "style(MegaLinter): apply linter fixes"
          labels: |
            state: pending
            type: chore
            work: obvious

      - name: Create PR output
        if: steps.ml.outputs.has_updated_sources == 1 && (env.APPLY_FIXES_EVENT == 'all' || env.APPLY_FIXES_EVENT == github.event_name) && env.APPLY_FIXES_MODE == 'pull_request' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"

      # Push new commit if applicable (for now works only on PR from same repository, not from forks)
      - name: Prepare commit
        if: steps.ml.outputs.has_updated_sources == 1 && (env.APPLY_FIXES_EVENT == 'all' || env.APPLY_FIXES_EVENT == github.event_name) && env.APPLY_FIXES_MODE == 'commit' && github.ref != 'refs/heads/main' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
        run: sudo chown -Rc $UID .git/

      - name: Commit and push applied linter fixes
        if: steps.ml.outputs.has_updated_sources == 1 && (env.APPLY_FIXES_EVENT == 'all' || env.APPLY_FIXES_EVENT == github.event_name) && env.APPLY_FIXES_MODE == 'commit' && github.ref != 'refs/heads/main' && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "style(MegaLinter): apply linter fixes"
          commit_user_name: informa-ap-devops
          commit_user_email: informa-ap-devops@users.noreply.github.com
